@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
$Bigfont: 'Satisfy', cursive;
$Smallfont: 'Quicksand', sans-serif;


header {
  height: 100vh;
  width: 100%;
  position: relative;
  .rectangle {
    position: absolute;
    top: -100px;
    left: 300px;
    height: 230px;
    width: 600px;
    border: 7px solid #0568b362;
  }
  .rectangle2 {
    position: absolute;
    top: 200px;
    left: 80%;
    height: 450px;
    width: 300px;
    border-radius: 10px;
    border: 7px solid #6ed3d08f;
  }

  .sidebar {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    margin-top: 280px;
    margin-left: 20px;
    font-family: $Smallfont;
    font-weight: 500;

    a {
      text-decoration: none;
      font-size: 1.1rem;
      color: #0567b3;
      margin: 10px 0;
    }
  }
  .heading {
    position: absolute;
    top: 30px;
    left: 500px;

    h1 {
      font-size: 6rem;
      font-family: $Bigfont;
      span {
        color: #0567b3;
      }
    }
    h4 {
      font-family: $Smallfont;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 20px;
      font-weight: 500;
      letter-spacing: 2px;
      span {
        color: #6ed3cf;
      }
    }
  }
}

.projects {
  height: 60vh;
  width: 100%;
  position: relative;

  .bar {
    position: absolute;
    height: 500%;
    width: 100px;
    top: -220%;
    left: 20%;
    transform: rotate(280deg);
    border: 10px solid #9068be8e;
  }
}